.Asset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 7rem;
  }

.SpinnerColor {
    box-shadow: 0 0 .1rem #fff,
        0 0 .1rem #fff,
        0 0 0.5rem #bc13fe,
        0 0 0.5rem #bc13fe,
        0 0 0.8rem #bc13fe,
        inset 0 0 .8rem #bc13fe;
}