.NormalBorder {
    color: #ffffff;
    border: 0.1rem solid #ffffff;
    border-radius: 0.5rem;
    background-color: transparent;
    padding: 0 0.5rem;
    box-shadow: 0 0 .1rem #fff,
        0 0 .1rem #fff,
        0 0 0.5rem #bc13fe,
        0 0 0.5rem #bc13fe,
        0 0 0.8rem #bc13fe,
        inset 0 0 .8rem #bc13fe;
}

.TitleBorder {
    color: #ffffff;
    border: 0.1rem solid #ffffff;
    border-radius: 0.5rem;
    background-color: transparent;
    padding: 0 0.5rem;
    box-shadow: 0 0 .1rem #fff,
        0 0 .1rem #fff,
        0 0 0.3rem #bc13fe,
        0 0 0.3rem #bc13fe,
        0 0 0.4rem #bc13fe,
        inset 0 0 .4rem #bc13fe;
}

.LittleRedBorder,
.RedBorder {
    color: #ffffff;
    border: 0.1rem solid #ffffff;
    border-radius: 0.5rem;
    background-color: transparent;
    padding: 0 0.5rem;
    box-shadow: 0 0 .1rem #fff,
        0 0 .1rem #fff,
        0 0 .5rem #ff0000,
        0 0 0.5rem #ff0000,
        0 0 .8rem #ff0000,
        inset 0 0 .8rem #ff0000;
}

.RedBorderImage {
    color: #ffffff;
    border: 0.1rem solid #ffffff;
    border-radius: 0.5rem;
    background-color: transparent;
    padding: 0 0.5rem;
    box-shadow: 0 0 .1rem #fff,
        0 0 .1rem #fff,
        0 0 .5rem #ff0000,
        0 0 0.5rem #ff0000,
        0 0 .8rem #ff0000,
        inset 0 0 .8rem #ff0000;
}

.LargeRedBorder {
    color: #ffffff;
    border-radius: 1rem;
    background-color: transparent;
    padding: 0.5rem;
    box-shadow: 0 0 .2rem #fff,
        0 0 1rem #ff0000,
        0 0 1rem #ff0000,
        0 0 0.5rem #ff0000,
        0 0 1rem #ff0000,
        inset 0 0 1rem #ff0000;
}

.PurpleBorder {
    color: white;
    background-color: black;
    box-shadow: 0 0 .2rem #fff,
      0 0 0.8rem #fff,
      0 0 0.8rem #bc13fe,
      0 0 0.4rem #bc13fe,
      0 0 0.8rem #bc13fe,
      inset 0 0 1rem #000000;
    border-radius: 0.5rem;
    text-align: center;
  }

.NormalBorder:hover,
.NormalBorder:focus,
.RedBorder:hover,
.RedBorder:focus {
    border-radius: 1rem;
    border: 0.1rem solid #ffffff;
    box-shadow: 0 0 .2rem #ffffff,
        0 0 .2rem #ffffff,
        0 0 .8rem #ffffff,
        0 0 0.6rem #ffffff,
        0 0 2rem #ffffff,
        inset 0 0 .8rem #bc13fe;
    text-decoration: none;
    color: white;
    background-color: transparent;
}

.LittleRedBorder:hover,
.LittleRedBorder:focus {
    border-radius: 1rem;
    border: 0.1rem solid #ffffff;
    box-shadow: 0 0 .2rem #ffffff,
        0 0 .2rem #ffffff,
        0 0 .4rem #ffffff,
        0 0 0.4rem #ffffff,
        0 0 0.9rem #ffffff,
        inset 0 0 .4rem #bc13fe;
    text-decoration: none;
    color: white;
    background-color: transparent;
}

.Input {
    text-align: center;
    color: #000;
    font-size: 1.2rem;
}

.Input:hover,
.Input:focus {
    border: none;
    box-shadow: 0 0 .1rem #bc13fe,
        0 0 .1rem #bc13fe,
        0 0 .1rem #bc13fe,
        0 0 0.2rem #bc13fe,
        0 0 0.75rem #bc13fe,
        inset 0 0 .1rem #bc13fe;
    text-decoration: none;
    color: #000;
    padding: none;
    margin: none;
}

.TextArea:hover,
.TextArea:focus {
    border-color: #bc13fe;
    box-shadow: 0 0 0rem #ffffff,
        0 0 0rem #ffffff,
        0 0 0rem #ffffff,
        0 0 0rem #ffffff,
        0 0 0rem #ffffff,
        inset 0 0 .6rem #bc13fe;
}


.Active {
    box-shadow: 0 0 .2rem #ffffff,
        0 0 .2rem #ffffff,
        0 0 .8rem #ffffff,
        0 0 0.6rem #ffffff,
        0 0 2rem #ffffff,
        inset 0 0 .8rem #bc13fe;
    text-decoration: none;
    color: white;
  }

  @media (min-width: 650px) {

    .NormalBorder {
        font-size: 1.5rem;
    }

}