.Form {
    border: none;
    border-bottom: 2px #ff0000 solid;
    font-size: 1.1rem;
    word-break: break-all;
  }
  
  .Button {
    border: 0.1rem solid #bc13fe;
    box-shadow: 0 0 .2rem #ffffff,
        0 0 .2rem #ffffff,
        0 0 .4rem #ffffff,
        0 0 0.4rem #ffffff,
        0 0 0.9rem #ffffff,
        inset 0 0 .6rem #bc13fe;
    background-color: black;
    color: white;
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
    min-width: 4rem;
    margin: 0.25rem;
    font-size: 1.1rem;
  }

.Button:disabled {
    opacity: 1;
}

.RedWarning {
  background-color: #000;
  color: #ff4444;
  border: none;
  text-align: center;
}

  
  .Button:hover,
  .Button:focus {
    cursor: pointer;
    border: 0.1rem solid #39FF14;
    box-shadow: 0 0 .2rem #ffffff,
        0 0 .2rem #ffffff,
        0 0 .4rem #ffffff,
        0 0 0.4rem #ffffff,
        0 0 0.9rem #ffffff,
        inset 0 0 .6rem #39FF14;
    text-decoration: none;
    color: white;
    background-color: black;
  }

  @media (min-width: 650px) {


    .Form {
        font-size: 1.5rem;
    }
    .Button {
        font-size: 1.5rem;
    }
}