.FooterNavLinkContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
  }
  
  .Footer {
    background-color: transparent;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  
  @media (min-width: 650px) {
  
    .Footer {
      font-size: 2rem;
    }
  
  }