.Post {
    background-color: black;
    text-align: center;
  }

.Image {
  width: auto;
  max-width: 90%;
  max-height: 80vh;
}

.Underline {
  text-decoration: underline;
}

.Star {
  color: #39FF14;
}

.Star:hover,
.Star:focus {
  cursor: pointer;
  color: #39FF14;
}

.StarOutline:hover {
  color: #ff0000;
}

.Pointer:hover,
.Pointer:focus {
  cursor: pointer;
}

.CommentsIcon:hover,
.CommentsIcon:focus {
  cursor: pointer;
  color: #bc13fe;
}