.SearchBar input {
    border-radius: 20px;
    color: #242a3d;
    padding-left: 2rem;
    margin-bottom: 1rem;
    border: #000000;
    font-size: 1.1rem;
    
}

.Col {
    padding: 0 0.5rem 0 0;
}

.InfiniteContainer {
    height: 70vh;
}
  
  .SearchIcon {
    color: #ff0000;
    position: absolute;
    font-size: 1rem;
    padding: 1rem 3.75rem 0.5rem;
  }
  
  .SearchIcon:hover {
    cursor: default;
    color: #bc13fe;
  }

  @media (min-width: 650px) {

    .SearchBar input {
        font-size: 1.5rem;
    }

}