.Post {
    background-color: black;
    text-align: center;
  }

.Image {
    max-width: 90%;
    max-height: 80vh;
}

.Star {
  color: #39FF14;
}

.Star:hover {
  color: #39FF14;
}

.StarOutline:hover {
  color: #ff0000;
}

.Empty:hover {
  background: radial-gradient(circle, rgba(188,19,254, 0.5)10%,rgba(188,19,254, 0.4)20%, rgba(188,19,254, 0.3)30%, rgba(188,19,254, 0.2)45%, black 65%);
}