.SearchBar input {
    border-radius: 20px;
    color: #242a3d;
    padding-left: 2.5rem;
    margin-bottom: 1rem;
    border: #000000;
    font-size: 1.3rem;
    
}

.InfiniteContainer {
    height: 70vh;
}
  
  .SearchIcon {
    color: #ff0000;
    position: absolute;
    font-size: 1rem;
    padding: 0.5rem 4rem;
  }
  
  .SearchIcon:hover {
    cursor: default;
    color: #bc13fe;
  }