.Modal {
    font-family: "Reenie Beanie", sans-serif;
    font-size: 1.1rem;
    text-align: center;
}

.InfiniteContainer {
    height: 40vh;
}

@media (min-width: 650px) {


    .Title {
        font-size: 1.5rem;
    }

    .Modal {
        font-size: 1.5rem;
    }

}