.ProfileImage {
    object-fit: cover;
    height: auto;
    width: 65%;
    margin: 0.5rem;
  }

@media (min-width: 650px) {

    .ProfileImage {
      width: 50%;
    }

}

@media (min-width: 991px) {

  .ProfileImage {
    width: 80%;
  }

}