.SideContainer {
    display: flex;
    align-items: center;
    padding: 1rem 0 1rem 1rem;
}

.Side {
    color: white;
    background-color: transparent;
    width: fit-content;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.GreenTitle {
    font-size: 2rem;
    color: #00ff00;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
}

.List {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

@media (min-width: 650px) {

    .SideContainer {
        font-size: 1.5rem;
    }

    .GreenTitle {
        font-size: 2.5rem;
    }

}