.TopNavLinkContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.Header {
  background-color: transparent;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Avatar {
  margin: 0.5rem;
}

@media (min-width: 650px) {

  .Header {
    font-size: 2rem;
  }
}