.App {
    font-family: "Reenie Beanie", sans-serif;
    box-sizing: border-box;
    background: linear-gradient(90deg, rgba(68, 18, 78, 1) 0%, rgba(8, 13, 23, 1) 53%, rgba(10, 8, 59, 1) 100%);
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
    color: white;
    font-size: 1.1rem;
    padding: none;
    margin: none;
}

a {
    color: #ffffff;
}

a:hover,
a:focus {
    text-decoration: none;
}

.Image {
    max-height: 40vh;
    max-width: 100%;
    object-fit: contain;
  }

.Middle {
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow-y: hidden;
    padding: 1rem 0 1rem 1rem;
}

.Main {
    background-color: transparent;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100%;
    padding: 0;
  }

/* scrollbar */
*::-webkit-scrollbar {
    width: 0.5rem;
}

*::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
    margin: 0.7rem;
}

*::-webkit-scrollbar-thumb {
    background: #442e8c;
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
    background: #6d5da1;
    border-radius: 10px;
}

@media (min-width: 650px) {

    .App {
        font-size: 1.5rem;
    }

}